#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 200px; height: 60px;
    background: white;
    border: 1px;
}

body{
    background-color: whitesmoke;
 }

 svg {
    background-color: white;
    font-family: 'Lato';
 }

 #bymonth{
    width: 50%;
    margin: 0 auto;
  }

